#achievements {
    text-align: center;
    background-color:var(--background-color);
    color: var(--dark-color-anti);
    position: relative;
}
     img{
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position:absolute;
        top:0;
        left:0;
        z-index: -1;
    }
        #achievements > * {
        display: inline-block;
    }
    .achievements{
        padding: 10px 20px;
        display: inline-block;
        border: 1px dashed #b9b9b9;
        border-radius: 2%;
        z-index: 1;
    }
        .achievements > .fa {
            width: 100px;
            font-size: 36px;
            line-height: 60px;
            background-color: var(--light-main-color);
        }
        .achievements > .number {
            font-size: 30px;
            line-height: 40px;
            font-family: 'Montserrat', sans-serif;
        }
        .achievements > p
        {
            font-size: 14px;
            line-height: 30px;
            color:#b9b9b9;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 0;
        }