.bg-main {
    background-color: var(--dark-color);
    color: var(--dark-color-anti);
   }
   .bg-light {
       background-color: var(--light-color);
   }
   
   
    .section-heading {
       display: inline-block;
       margin-bottom: 30px;
       font-size: 36px;
       line-height: 36px;
       text-align: center;
       position: relative;
       font-weight: 400;
   }
   
    .bold {        
        font-weight: bold;
    }

    .main-title {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
        .main-title-border:before {
                display: inline-block;
                margin-top: -5px;
                vertical-align: middle;
                content: "";
                background-color: #d0d0d0;
                width: 30px;
                height: 1px;

        }
        .main-title-border:after {
                display: inline-block;
                margin-top: -5px;
                vertical-align: middle;
                content: "";
                background-color: #d0d0d0;
                width: 30px;
                height: 1px;
        }

            .main-title-border i.fa.fa-asterisk {
                display: inline-block;
                font-size: 20px;
                margin-top: -28px;
                margin-bottom: 10px;
                font-weight: lighter;
            }

p{ 
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--light-color-anti);
}

 