#experience .experience-block {
    display: inline-block;
    padding: 20px 0 10px 30px;
    border-left: 1px solid #ccc;
}
    #experience .experience-block > .cv {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        padding: 15px 30px;        
        border: 1px solid #ccc;
        border-radius: 10px;
        position: relative;
    }
        #experience .cv::after {
            display: inline-block;
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 3px solid #fff;
            background-color: #000;
            position: absolute;
            top: 20px;
            left: -43px;
        } 
        #experience .cv > .date {
            display: inline-block;
            width: 100%;
            text-align: left;
            font-size: 20px;
            line-height: 32px;
        }
        #experience .cv > .position {
            display: inline-block;
            width: 100%;
            text-align: left;
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 10px;
        }
        #experience .cv > p {
            display: inline-block;
            width: 100%;
            text-align: left;
            margin: 0;            
        }