.hero{
    height:100vh;
    text-align: center;
    background-color:var(--background-color);
     position: relative;
}

.hero > .row >.hight{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
 }
    .hero > * {
        display: inline-block;
    }
        .hero .row h4 {
            line-height: 40px;
            font-size: 20px;
            font-weight: none;
        }
        .hero h1{
            font-size: 72px;
            font-weight: 400;
            line-height: 80px;
            text-transform: capitalize;
        }
    .socials {
    display: inline-block;
    width: 100%;
   }
    .socials > a {
      display: inline-block;
      width: 40px;
      height: 40px;
      font-size: 13px;
      line-height: 60px;
      color: white;
      text-decoration: none;
      margin-bottom: 30px;
    }
  
  .mouse{
    margin-top:70vh;
    height: 40px;
    width: 25px;
    line-height: 60px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    display: inline-block;
    color: #fff;
    font-size: 12px;   
    
    animation: animationFrames linear 1.5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames linear 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: animationFrames linear 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: animationFrames linear 1.5s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: animationFrames linear 1.5s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
  }

    .mouse > .wheel{
        display: inline-block;
        width:20px;
        margin-left: 6px;
        
    }
        .wheel::before,
        .wheel::after{
            display: inline-block;
            content: '';
            width: 7px;
            height: 1px;
            background-color: white;
            transform: translate(-70%, -70%) rotate(45deg);
        }
        .wheel::after{
            transform: translate(-100%, -100%) rotate(-45deg);
        }
    
    @keyframes animationFrames{
        0% {
          transform:  translate(-0px,-54px)  ;
        }
        15% {
          transform:  translate(0px,-25px)  ;
        }
        30% {
          transform:  translate(0px,0px)  ;
        }
        45% {
          transform:  translate(0px,-29px)  ;
        }
        50% {
          transform:  translate(0px,-27px)  ;
        }
        60% {
          transform:  translate(0px,0px)  ;
        }
        74% {
          transform:  translate(0px,-15px)  ;
        }
        75% {
          transform:  translate(0px,-5px)  ;
        }
        100% {
          transform:  translate(0px,6px)  ;
        }
      }
      
      @-moz-keyframes animationFrames{
        0% {
          -moz-transform:  translate(0px,-54px)  ;
        }
        15% {
          -moz-transform:  translate(0px,-25px)  ;
        }
        30% {
          -moz-transform:  translate(0px,0px)  ;
        }
        45% {
          -moz-transform:  translate(0px,-29px)  ;
        }
        50% {
          -moz-transform:  translate(0px,-27px)  ;
        }
        60% {
          -moz-transform:  translate(0px,0px)  ;
        }
        74% {
          -moz-transform:  translate(0px,-15px)  ;
        }
        75% {
          -moz-transform:  translate(0px,-5px)  ;
        }
        100% {
          -moz-transform:  translate(0px,6px)  ;
        }
      }
      
      @-webkit-keyframes animationFrames {
        0% {
          -webkit-transform:  translate(0px,-54px)  ;
        }
        15% {
          -webkit-transform:  translate(0px,-25px)  ;
        }
        30% {
          -webkit-transform:  translate(0px,0px)  ;
        }
        45% {
          -webkit-transform:  translate(0px,-29px)  ;
        }
        50% {
          -webkit-transform:  translate(0px,-27px)  ;
        }
        60% {
          -webkit-transform:  translate(0px,0px)  ;
        }
        74% {
          -webkit-transform:  translate(0px,-15px)  ;
        }
        75% {
          -webkit-transform:  translate(0px,-5px)  ;
        }
        100% {
          -webkit-transform:  translate(0px,6px)  ;
        }
      }
      
      @-o-keyframes animationFrames {
        0% {
          -o-transform:  translate(0px,-54px)  ;
        }
        15% {
          -o-transform:  translate(0px,-25px)  ;
        }
        30% {
          -o-transform:  translate(0px,0px)  ;
        }
        45% {
          -o-transform:  translate(0px,-29px)  ;
        }
        50% {
          -o-transform:  translate(0px,-27px)  ;
        }
        60% {
          -o-transform:  translate(0px,0px)  ;
        }
        74% {
          -o-transform:  translate(0px,-15px)  ;
        }
        75% {
          -o-transform:  translate(0px,-5px)  ;
        }
        100% {
          -o-transform:  translate(0px,6px)  ;
        }
      }
      
      @-ms-keyframes animationFrames {
        0% {
          -ms-transform:  translate(0px,-54px)  ;
        }
        15% {
          -ms-transform:  translate(0px,-25px)  ;
        }
        30% {
          -ms-transform:  translate(0px,0px)  ;
        }
        45% {
          -ms-transform:  translate(0px,-29px)  ;
        }
        50% {
          -ms-transform:  translate(0px,-27px)  ;
        }
        60% {
          -ms-transform:  translate(0px,0px)  ;
        }
        74% {
          -ms-transform:  translate(-0px,-15px)  ;
        }
        75% {
          -ms-transform:  translate(-0px,-5px)  ;
        }
        100% {
          -ms-transform:  translate(-0px,6px)  ;
        }
      }
    .wave {
        position: absolute;
        width: 100%;
        height: 80px;
        bottom: 0;
        left: 0;
        background-image: url(../img/bottom-color.png);
        background-size: 100% 100%;
        bottom: -30px
    }
    .particles-js-canvas-el {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0;
    }