@import './reset.css';
@import './common.css';
@import './header.css';
@import './hero.css';
@import './clients.css';
@import './about-me.css';
@import './cards.css';
@import './progress-bar.css';
@import './works-gallery.css';
@import './job-history.css';
@import './testimonials.css';
@import './contact-me.css';
@import './footer.css';