.myProgress1 {
  display: inline;
  width: auto;
}
.myProgress2 {
  font-weight: bold;
}
/* ---------------Col 1--------------------- */
.numberbar1{
  display: inline;
  float: right ;
  width: auto;
  height: 20px;
  margin: 0;
  
}
.namebar1{
  display: inline;
  float: left ;
  width: auto;
  margin: 0;
 
}

.numberbar2{
  display: inline;
  margin-top: 30px;
  float: right;
  width: auto;
  margin-bottom: 0;

  }
  .namebar2{
    width: auto;
    margin-top: 30px;
    float: left;
    margin-bottom: 0;

  }
  .numberbar3{
    margin-top: 30px;
    width: auto;
    float: right ;
    
  }
  .namebar3{
    margin-top: 30px;
    width: auto;
    float: left;
   
  }
  .myBar1 {
    width: var(--ProgresBarProc1);
    height: 5px;
    background-color: black;

    margin-top: 25px;
  }
  .myBar2 {
    margin-top: 55px;
    width: var(--ProgresBarProc2);
    height: 5px;
    background-color: black;

  }
  .myBar3 {
    margin-top: 55px;
    width: var(--ProgresBarProc3);
    height: 5px;
    background-color: black;

  }
 /* ---------------Col 2--------------------- */
  .numberbar4{
    display: inline;
    float: right ;
    width: auto;
    height: 20px;
    margin: 0;
  }
  .namebar4{
    display: inline;
    float: left ;
    width: auto;
    margin: 0;
  }
  .numberbar5{
    display: inline;
    margin-top: 30px;
    float: right;
    width: auto;
    margin-bottom: 0;
  }
  .namebar5{
    width: auto;
    margin-top: 30px;
    float: left;
    margin-bottom: 0;
  }
  .numberbar6{
    margin-top: 30px;
    width: auto;
    float: right ;
  }
  .namebar6{
    margin-top: 30px;
    width: auto;
    float: left;
  }
  .fon{
    margin-top: 25px;
    width: 100%;
    height: 5px;
    background-color: rgb(212, 212, 212);
  }
  .myBar4 {
    margin-top: 25px;
    width: var(--ProgresBarProc4);
    height: 5px;
    background-color: black;

  }
  .myBar5 {
      margin-top: 55px;
    width: var(--ProgresBarProc5);
    height: 5px;
    background-color: black;
  }
  .myBar6 {
      margin-top: 55px;
    width: var(--ProgresBarProc6);
    height: 5px;
    background-color: black;

  }
  @keyframes Moov{

  }