#services{
    /* display:grid; */
    /* grid-gap: 20px; */
    
}
.servBox{
/* background: gray; */
/* border: 1px solid gray; */
display: inline-block;
width: 33%;
margin: auto;
grid-gap: 20px;
}

    .serRow{
    display: inline-block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    /* background: yellow; */
    }

    .ServName h3{
        /* padding: 15px 74px; */
        color: rgb(31, 29, 29);
        text-align: center;
        font-size: 22px;
        padding: 40px 0 0px;
    }
    #services .col-4 p{
        width: 98%;
       margin-top: 30px;
        text-align: center;
      
        /* background: yellowgreen; */
    }

        .servIcon  img{  
            align-self:  center;
            margin-top: 30px;  
            height: 100%;
            margin-right: auto;
            margin-left: auto;
            
        }
        
       .servIcon{
           display: grid;
           margin-top: 20px;
           height: 40px;
           width: 80%;
           margin-right: auto;
            margin-left: auto;
           /* background: red; */
       }
        .box{
            width: 90%;
            height: 220px;
            margin-top: 20px;
            margin-bottom: auto;
            box-shadow: 0px 0px 1px #888888;
            border-radius: 3px;
            

            /* background-color:green; */
        }