:root{
    --dark-color: #373A3E;
    --light-color: #F8F9FA;

    --dark-color-anti: #fff;

    --ProgresBarProc1:80%;
    --ProgresBarProc2:59%;
    --ProgresBarProc3:88%;
    --ProgresBarProc4:96%;
    --ProgresBarProc5:70%;
    --ProgresBarProc6:58%;
}